<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_Dibs>
            <version>1.0.0</version>
        </Made_Dibs>
    </modules>
    <global>
        <translate>
            <modules>
                <Made_Dibs>
                    <files>
                        <default>Made_Dibs.csv</default>
                    </files>
                </Made_Dibs>
            </modules>
        </translate>
        <models>
            <made_dibs>
                <class>Made_Dibs_Model</class>
            </made_dibs>
        </models>
        <blocks>
            <made_dibs>
                 <class>Made_Dibs_Block</class>
            </made_dibs>
        </blocks>
        <helpers>
            <made_dibs>
                <class>Made_Dibs_Helper</class>
            </made_dibs>
        </helpers>
    </global>
    <frontend>
        <secure_url>
            <made_dibs>/made_dibs</made_dibs>
        </secure_url>
        <routers>
            <made_dibs>
                <use>standard</use>
                <args>
                    <module>Made_Dibs</module>
                    <frontName>made_dibs</frontName>
                </args>
            </made_dibs>
        </routers>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <set_transaction_to_pending_gateway>
                        <type>singleton</type>
                        <class>made_dibs/observer</class>
                        <method>setTransactionToPendingGateway</method>
                    </set_transaction_to_pending_gateway>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
    </frontend>
    <default>
        <payment>
            <made_dibs_paymentwindow>
                <active>0</active>
                <reauth_expired>1</reauth_expired>
                <title>DIBS Payment Window</title>
                <test>1</test>
                <capture_now>1</capture_now>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <model>made_dibs/payment_paymentwindow</model>
            </made_dibs_paymentwindow>
        </payment>
    </default>
</config>