<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_Dibs>
            <version>1.0.0</version>
        </Made_Dibs>
    </modules>
    <global>
        <translate>
            <modules>
                <Made_Dibs>
                    <files>
                        <default>Made_Dibs.csv</default>
                    </files>
                </Made_Dibs>
            </modules>
        </translate>
        <models>
            <made_dibs>
                <class>Made_Dibs_Model</class>
            </made_dibs>
        </models>
        <blocks>
            <made_dibs>
                 <class>Made_Dibs_Block</class>
            </made_dibs>
        </blocks>
        <helpers>
            <made_dibs>
                <class>Made_Dibs_Helper</class>
            </made_dibs>
        </helpers>
        <resources>
            <made_dibs_setup>
                <setup>
                    <module>Made_Dibs</module>
                </setup>
            </made_dibs_setup>
        </resources>
        <events>
            <sales_order_payment_capture>
                <observers>
                    <authorize_before_capture>
                        <type>singleton</type>
                        <class>made_dibs/observer</class>
                        <method>authorizeBeforeCapture</method>
                    </authorize_before_capture>
                </observers>
            </sales_order_payment_capture>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <add_dibs_payment_info>
                        <type>singleton</type>
                        <class>made_dibs/observer</class>
                        <method>addDibsPaymentInfo</method>
                    </add_dibs_payment_info>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
    </global>
    <frontend>
        <secure_url>
            <made_dibs>/made_dibs</made_dibs>
        </secure_url>
        <routers>
            <made_dibs>
                <use>standard</use>
                <args>
                    <module>Made_Dibs</module>
                    <frontName>made_dibs</frontName>
                </args>
            </made_dibs>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <cancel_old_pending_gateway_orders>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>made_dibs/observer::cancelOldPendingGatewayOrders</model>
                </run>
            </cancel_old_pending_gateway_orders>
        </jobs>
    </crontab>
    <default>
        <payment>
            <made_dibs_gateway>
                <active>0</active>
                <reauth_expired>1</reauth_expired>
                <title>DIBS Payment Window - Gateway Solution</title>
                <test>1</test>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <model>made_dibs/payment_gateway</model>
                <void_on_cancel>1</void_on_cancel>
            </made_dibs_gateway>
            <made_dibs_api>
                <active>0</active>
                <reauth_expired>1</reauth_expired>
                <title>DIBS Payment Window - API Solution</title>
                <test>1</test>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <model>made_dibs/payment_api</model>
                <void_on_cancel>1</void_on_cancel>
            </made_dibs_api>
        </payment>
    </default>
</config>